<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Font-family -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>Cleaning Garden - Layanan</title>
  </head>
    <body style="background: #F7F7F7">
      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 25px">
            <img src="images/logo1.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
              Cleaning Garden
          </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="d-flex" id="navbarSupportedContent" style="margin-right: 40px; font-family: 'Poppins', sans-serif;">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link"  href="/beranda">Beranda</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" style="color: #00BD79;" href="/layanan">Layanan</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tentang">Tentang Kami</a>
                  </li>
                  @loggedIn
                  <li class="nav-item">
                    <a class="nav-link" href="/keluar">Keluar</a>
                  </li>
                  @else
                  <li class="nav-item">
                    <a class="nav-link" href="/masuk">Masuk/Daftar</a>
                  </li>
                  @endloggedIn
                </ul>
              </div> 
            </div>
          </nav>
    </nav>
    <h1 class="text-center mt-4" style="color: #000000; font-family: 'Poppins', sans-serif;">Pilih paket untuk <span style="color: #00BD79;">tamanmu.</span></h1>
    <div class="row" style="margin-left: 40px; margin-right: 40px; margin-top: 50px;">


        <div class="col-sm">
          <div class="card text-center" style="border-radius: 15px;">
            <div class="card-body" style="height: 400px;">
              <h1 class="card-title" style="color: #00BD79; font-family: 'Poppins', sans-serif; margin-bottom: 80px;">Paket 1</h1>
              <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Potong Rumput Saja</p>
 
    <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalPaket1" style="margin-top: 140px; width: 150px;">
                Cek Detail
            </button>
            
    <!-- Modal -->
            <div class="modal fade" id="ModalPaket1" tabindex="-1" aria-labelledby="ModalPaket1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h2 class="modal-title ms-auto" id="ModalPaket1" style="color: #00BD79; font-family: 'Poppins', sans-serif;">Detail Paket 1</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    - Layanan : Potong rumput saja <br>
                    - Biaya   : Rp100.000,-
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <a type="button" class="btn btn-success" href="/transaksi">Pilih</a>
                    </div>
                </div>
            </div>
         </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="border-radius: 15px;">
                <div class="card-body" style="height: 400px;">
                    <h1 class="card-title" style="color: #00BD79; font-family: 'Poppins', sans-serif; margin-bottom: 80px;">Paket 2</h1>
                    <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Potong Rumput + Sapu Taman</p>
                    
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalPaket2" style="margin-top: 110px; width: 150px;">
                        Cek Detail
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="ModalPaket2" tabindex="-1" aria-labelledby="ModalPaket2" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h2 class="modal-title ms-auto" id="ModalPaket2" style="color: #00BD79; font-family: 'Poppins', sans-serif;">Detail Paket 2</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            - Layanan : Potong rumput + sapu <br>
                            - Biaya       : Rp150.000,-
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                            <a type="button" class="btn btn-success" href="/transaksi2">Pilih</a>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card text-center" style="border-radius: 15px;">
              <div class="card-body" style="height: 400px;">
                <h1 class="card-title" style="color: #00BD79; font-family: 'Poppins', sans-serif; margin-bottom: 80px;">Paket 3</h1>
                <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Potong Rumput +  Semprot Disinfektan</p>
                
                <!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalPaket3" style="margin-top: 110px; width: 150px;">
    Cek Detail
</button>

<!-- Modal -->
<div class="modal fade" id="ModalPaket3" tabindex="-1" aria-labelledby="ModalPaket3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h2 class="modal-title ms-auto" id="ModalPaket3" style="color: #00BD79; font-family: 'Poppins', sans-serif;">Detail Paket 3</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        - Layanan : Potong rumput + disinfektan <br>
        - Biaya       : Rp175.000,-
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
        <a type="button" class="btn btn-success" href="/transaksi3">Pilih</a>
        </div>
    </div>
    </div>
</div>

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card text-center" style="border-radius: 15px;">
              <div class="card-body" style="height: 400px;">
                <h1 class="card-title" style="color: #00BD79; font-family: 'Poppins', sans-serif; margin-bottom: 80px;">Paket 4</h1>
                <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Potong Rumput + Sapu + Semprot Disinfektan</p>
                
                <!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalPaket4" style="margin-top: 110px; width: 150px;">
    Cek Detail
</button>

<!-- Modal -->
<div class="modal fade" id="ModalPaket4" tabindex="-1" aria-labelledby="ModalPaket4" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h2 class="modal-title ms-auto" id="ModalPaket4" style="color: #00BD79; font-family: 'Poppins', sans-serif;">Detail Paket 4</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        - Layanan : Potong rumput + sapu + disinfektan <br>
        - Biaya       : Rp200.000,-
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
        <a type="button" class="btn btn-success" href="/transaksi4">Pilih</a>
        </div>
    </div>
    </div>
</div>

              </div>
            </div>
          </div>
      </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>